<div style="height:100px;width:100%;float:left;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Logging in</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username</label>
                            <input type="text" class="form-control" ng-model="credentials.username"/>
                            <br>

                            <label>Password</label>
                            <input type="password" class="form-control" ng-model="credentials.password"/>
                            <br>

                            <button type="button" class="btn btn-primary" ng-click="signIn()">Sign in</button>
                        </div>

                        <div class="col-md-6">
                            <br>
                            You've forgotten your password?
                            <a class="btn btn-warning btn-sm">Reset your password.</a>
                            <br><br>
                            You don't have an account?<br/>
                            <a class="btn btn-warning btn-sm">Sign up for a new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>